body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.75em;
}

.HeaderMenu {
	display: inline-block;
	float: right;
	margin: 10px 25px 10px 25px;
	letter-spacing: 2px;
	text-transform: uppercase;	
}

#DWlogo {
	display: block;
	clear: both;
	margin: auto;
	padding: 50px;
}

.hiddendisplay {
	margin: auto;
	width: 650px;
}

#paintingdisplay {
	height: 675px;
	width: 450px;
	margin: 10px ;
	float: left;
}

#paintingtitle {
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-top: 20px;
}

#paintingdescription {
	text-transform: uppercase;
	clear: right;
	letter-spacing: 1px;
}

.outer {
	margin: auto;
	height: 700px;
	width: 700px;
	text-align: center;
	clear: both;
}

.inner {
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 10px;
}

.inner:hover {
	opacity: 0.4;
}

#outerSlider {
	width: 100%;
	overflow: scroll;
}

#innerSlider {
	width: 4250px;
}

.sliderImg {
	margin: 10px;
	display: inline-block;
}

.about {
	width: 600px;
	margin: auto;
	margin-top: 50px;

}

#profilepic {
	float: left;
}

#bio {
	float: right;
	width: 450px;
}

#Footer {
	margin: 170px auto 0px;
	text-align: center;
	font-size: 0.5em;
	text-transform: uppercase;
	clear: both;
	width: 700px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.4;
}

a:visited {
    color: black;
}